<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 업로드</title>
</head>
<body>

<h1>파일 업로드</h1>

<form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">업로드</button>
</form>

<script>
    // 페이지가 로드될 때 실행되는 함수
    window.onload = function() {
        // 서버에서 전달받은 메시지가 있다면
        var message = "{{ message }}";
        if (message) {
            alert(message);  // 팝업 알림으로 메시지 표시
        }
    }
</script>

</body>
</html>
