{% load static %}

{% block content %}
<a href="{% url 'home' %}" class="btn btn-primary">메인페이지로</a>

<h2>일별 신규 방문자 수</h2>
<ul>
    {% for visitor in daily_new_visitors %}
        <li>{{ visitor.date }}: {{ visitor.new_visitors_count }}명</li>
    {% endfor %}
</ul>

<h2>월별 신규 방문자 수</h2>
<ul>
    {% for month in monthly_new_visitors %}
        <li>
            {{ month.year }}년 {{ month.month }}월: {{ month.new_visitors_count }}명
            <button class="btn btn-link btn-sm" type="button" data-toggle="collapse" data-target="#new-month-{{month.year}}-{{month.month}}" aria-expanded="true">
                상세 보기
            </button>
            <div id="new-month-{{month.year}}-{{month.month}}" class="collapse">
                <ul>
                {% for entry in month.daily_data %}
                    <li>{{ entry.date }}: {{ entry.new_visitors_count }}명</li>
                {% endfor %}
                </ul>
            </div>
        </li>
    {% endfor %}
</ul>

{% endblock %}
