{% load static %}

{% block content %}
<a href="{% url 'main_page' %}" class="btn btn-primary">메인페이지로</a>

    <h2>일별 신규 방문자 수</h2>
    <ul>
        {% for visitor in daily_visitors %}
            <li>{{ visitor.date }}: {{ visitor.new_visitors_count }}명</li>
        {% endfor %}
    </ul>

    <h2>월별 신규 방문자 수</h2>
    <ul>
        {% for visitor in monthly_visitors %}
            <li>{{ visitor.year }}년 {{ visitor.month }}월: {{ visitor.new_visitors_count }}명</li>
        {% endfor %}
    </ul>

{% endblock %}
