<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>신규 방문자 수</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
    .form-group {
        margin-bottom: 15px;
    }


    h3 {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    
</style>

<body>
{% load static %}

<div class="container mt-5">
    <a href="{% url 'home' %}" class="mb-3">
        <img src="{% static 'images/reply_FILL0.png' %}" alt="메인페이지로">
    </a>

    <h3>월별 신규 방문자 수</h3>
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>날짜</th>
                <th>신규 방문자 수</th>
                <th>일별</th>
            </tr>
        </thead>
        <tbody>
            {% for visitor in monthly_visitors %}
            <tr>
                <td>{{ visitor.year }}년 {{ visitor.month }}월</td>
                <td>{{ visitor.new_visitors_count }}명</td>
                <td><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#month-{{ visitor.year }}-{{ visitor.month }}" aria-expanded="true">
                    상세보기
                </button></td>
            </tr>
            <tr class="collapse" id="month-{{ visitor.year }}-{{ visitor.month }}">
                <td colspan="3">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>날짜</th>
                                <th>신규 방문자 수</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for daily in visitor.daily_data %}
                                <tr>
                                    <td>{{ daily.date }}</td>
                                    <td>{{ daily.new_visitors_count }}명</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    // 페이지가 로드될 때 실행되는 함수
    window.onload = function() {
        // 서버에서 전달받은 메시지가 있다면
        var message = "{{ message }}";
        if (message) {
            alert(message);  // 팝업 알림으로 메시지 표시
        }
    }
</script>

</body>
</html>
