<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>파일 업로드 및 방문자 수</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<style>
    .form-group {
        margin-bottom: 15px;
    }

    h2 {
        margin-top: 20px;
    }

    .file-view-header {
        margin-top: 50px;
    }

    .custom-upload-btn {
        background-color: rgb(240, 201, 23);
        border: none;
    }
    
    .custom-upload-btn:hover {
        background-color: rgb(215, 181, 0); /* 마우스 오버 시 약간 어두운 색으로 */
    }
    
</style>

<body>
{% load static %}


<div class="container mt-5">
    <a href="{% url 'home' %}" class="mb-3">
        <img src="{% static 'images/reply_FILL0.png' %}" alt="메인페이지로">
    </a>

    <h2>파일 업로드</h2>
    <form action="{% url 'visit:upload_csv' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn custom-upload-btn">업로드</button>
    </form>

    <!-- 제목과 토글 이미지 버튼을 같은 줄에 위치 -->
    <div class="d-flex align-items-center file-view-header">
        <h3 class="mb-0 mr-3">업로드된 파일 보기</h3>
        <img src="{% static 'images/search.png' %}" alt="업로드된 파일 보기" style="cursor: pointer; width: 25px; height: 25px;" data-toggle="collapse" data-target="#uploaded-files">
    </div>

    <!-- 숨겨진 영역 -->
    <div class="collapse" id="uploaded-files">
        <div class="card card-body">
            {{ uploaded_filename }}
        </div>
    </div>
</div>



    <div class="container mt-5">
        <h4>월별 방문자 수</h4>
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>날짜</th>
                    <th>방문자 수</th>
                    <th>일별</th>
                </tr>
            </thead>
            <tbody>
                {% for month in monthly_visitors %}
                <tr>
                    <td>{{ month.year }}년 {{ month.month }}월</td>
                    <td>{{ month.visitors_count }}명</td>
                    <td><button class="btn btn-link" type="button" data-toggle="collapse" data-target="#month-{{ month.year }}-{{ month.month }}" aria-expanded="true">
                        상세보기
                    </button></td>
                </tr>
                <tr class="collapse" id="month-{{ month.year }}-{{ month.month }}">
                    <td colspan="3">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>날짜</th>
                                    <th>방문자 수</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for entry in month.daily_data %}
                                    <tr>
                                        <td>{{ entry.date }}</td>
                                        <td>{{ entry.count }}명</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    


<script>
    // 페이지가 로드될 때 실행되는 함수
    window.onload = function() {
        // 서버에서 전달받은 메시지가 있다면
        var message = "{{ message }}";
        if (message) {
            alert(message);  // 팝업 알림으로 메시지 표시
        }
    }
</script>

</body>
</html>
