{% load static %}

{% block content %}

<!-- Google Fonts Links -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Sunflower:wght@300&family=Ubuntu:ital,wght@1,500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />

<!-- Font Styles -->
<style>

/* fileupload 아이콘 */
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
    font-size: 30px;
}

    body {
        font-family: 'Ubuntu', 'Sunflower', sans-serif;
    }

    /* 아래 CSS 규칙은 한글이 존재하는 요소에 대해서만 Sunflower 폰트를 적용합니다 */
    body:lang(ko), 
    h1:lang(ko), h2:lang(ko), h3:lang(ko), h4:lang(ko), h5:lang(ko), h6:lang(ko),
    p:lang(ko), li:lang(ko), a:lang(ko) {
        font-family: 'Sunflower', sans-serif;
    }

    /* 네비게이션 바 스타일링 */
    nav a {
        text-decoration: none;  /* 밑줄 제거 */
        color: black;            /* 글씨색 검정으로 */
        font-size: 20px;         /* 글씨 크기 조정 */
    }

    /* 호버시 스타일 (마우스를 올렸을 때의 스타일) */
    nav a:hover {
        text-decoration: underline; /* 마우스를 올렸을 때만 밑줄이 나타나도록 설정. 필요 없으면 이 부분을 제거하세요. */
    }
</style>

<div class="container" style="text-align: center;">

    <!-- Top-left Image -->
    <div style="position: absolute; top: 0; left: 0;">
        <img src="{% static 'images/wash.png' %}" alt="My Image" width="250px" height="100px">
    </div>

    <!-- Navigation Bar -->
    <nav style="text-align: right;">
        <ul style="list-style-type: none; display: inline-flex; padding: 0;">
            <li style="margin: 0 15px;"><span class="material-symbols-outlined">upload_file</span><a href="{% url 'visit:upload_csv' %}">FileUpload</a></li>
            <li style="margin: 0 15px;"><a href="{% url 'analytics:revisit_rate' %}">Revisit</a></li>
            <li style="margin: 0 15px;"><a href="{% url 'newvisit:new_visitors' %}">NewVisit</a></li>
        </ul>
    </nav>

    <h2 style="background-color: red;">고객 재방률 높히기 작전</h2>
    <h3 style="background-color: #FFD700;">실패는 죽음뿐</h3>
</div>
{% endblock %}
