
{% block content %}
<div class="container" style="text-align: center;">

    <!-- Top-left Image -->
    <div style="position: absolute; top: 0; left: 0;">
        <img src="{% static 'images/wash.png' %}" alt="My Image" width="50px" height="50px">
    </div>

    <!-- Navigation Bar -->
    <nav>
        <ul style="list-style-type: none; display: flex; justify-content: center; padding: 0;">
            <li style="margin: 0 15px;"><a href="#link1">Link 1</a></li>
            <li style="margin: 0 15px;"><a href="#link2">Link 2</a></li>
            <li style="margin: 0 15px;"><a href="#link3">Link 3</a></li>
        </ul>
    </nav>

    <h2 style="background-color: red;">고객 재방률 높히기 작전</h2>
    <h3 style="background-color: #FFD700;">실패는 죽음뿐</h3>
    <a href="{% url 'visit:upload_csv' %}" class="custom-btn">파일 올려</a>
    <a href="{% url 'analytics:revisit_rate' %}" class="custom-btn">과욘 결과는?</a>
</div>
{% endblock %}
